.wy-nav-content {
    max-width: none;
}

div.code-block-caption {
    color: #fcfcfc;
    background-color: #297fb99c;
    width: 100%;
    border-radius: 4px 4px 0 0;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace;
    font-weight: bold;
    text-align: left !important;
    margin: 0;
    padding: 10px 20px !important;
}

/* pre {
    color: #eff;
    padding: 1rem;
    border-radius: .25rem;
    background-color: #212121;
    display: block;
    font-size: 87.5%;
    color: #212121;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-family: "Source Code Pro",monospace;
    font-size: 1em;
} */
/* 
kbd {
    padding: .2rem .4rem !important;
    font-size: 87.5% !important;
    color: #fff !important;
    background-color: #212121 !important;
    border-radius: .2rem !important;
} */
